/*------------------------------------------------------------------------*/
/* @stylesheet    - googleBooks.css                                       */
/* @date          - 22-JAN-2021                                           */
/* @author        - David B. Mitchell                                     */
/* @description   - Stylesheet for googleBooks.html web page.             */
/*------------------------------------------------------------------------*/


button {
  border: none;
  border-radius: 16px;
  float: right;
  background: #0066cc;
  color: #ffffff;
  font-family: tahoma,verdana,tahoma,arial;
  width: 4rem;
  height: 2rem;
  margin-right: 8.3rem;
}
button:disabled {
  background-color: #999292;
  pointer-events: none;
}
button:hover:enabled {
  background-color: #004c99;
}
.d1 {
  margin-top: 95px;
  margin-left: 650px;
  width: 40rem;
}
h2 {
  font-family: calibri,arial;
  margin-top: -5px;
}
img {
  margin-left: -7px;
}
input {
  border-color: light-grey;
  margin-bottom: 10px;
  font-family: tahoma,arial,verdana;
  width: 20rem;
  height: 30px;
  border-width: 1px;
}
label {
  font-family: tahoma,arial,verdana;
  font-weight: bold;
}
textarea {
  color: #004c99;
  font-family: verdana,tahoma,calibri,fixed,consolas,courier;
}
textarea::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
textarea::-webkit-scrollbar-track {
  background: #0066cc;        /* color of the tracking area */
}
textarea::-webkit-scrollbar-thumb {
  background-color: orange;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid yellow;  /* creates padding around scroll thumb */
  height: 1.5rem;
}
